# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives** :
* List popular languages for Data Science
* Commonly used libraries used by Data Scientists
* Examples of evaluating arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Sci-kit learn
3. Matplotlib
4. ggplot
5. Scipy

|Data Science Tools |
|---|
|Jupyter Lab|
|PyCharm|
|R|

### Below are a few examples of evaluating arithmetic expressions in Python

### This a simple arithmetic expression to mutiply then add integers

In [23]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [24]:
200/60

3.3333333333333335

## Author 
Shipra Kapoor